<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="AdminMapper">
	<resultMap type="Moqoo" id="MoqooResultMap">
		<result property="category" column="MOQOO_TAGS"/>
	</resultMap>

	

	<!-- 회원관리페이지 총회원수 (= 총게시물수) -->
	<select id="getUserListCount" resultType="_int">
		SELECT COUNT (*) FROM USER_TBL WHERE ADMIN_YN = 'N'
	</select>
	
	<!-- 회원정보 리스트 -->
	<select id="selectAllUser" resultType="User">
		SELECT * FROM USER_TBL WHERE ADMIN_YN = 'N' ORDER BY U_CREATE_DATE DESC
	</select>
	
	<!-- 회원검색 총회원수 (= 총게시물수) -->
	<select id="getUserSearchListCount" resultType="_int">
		SELECT COUNT (*) FROM USER_TBL
		<if test="searchCondition == 'userId'"> 
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'userName'">
			WHERE USER_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'userEmail'">
			WHERE USER_EMAIL LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'userNickname'">
			WHERE USER_NICKNAME LIKE '%'||#{searchKeyword}||'%'
		</if> 
		<if test="searchCondition == 'userTel'">
			WHERE USER_TEL LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<!-- 회원검색  -->
	<select id="searchUserByKeyword" resultType="User">
		SELECT * FROM USER_TBL
		<if test="searchCondition == 'userId'"> 
			WHERE USER_ID LIKE '%'||#{searchKeyword}||'%' 
			ORDER BY USER_ID DESC 
		</if>
		<if test="searchCondition == 'userName'">
			WHERE USER_NAME LIKE '%'||#{searchKeyword}||'%'
			ORDER BY USER_ID DESC 
		</if>
		<if test="searchCondition == 'userEmail'">
			WHERE USER_EMAIL LIKE '%'||#{searchKeyword}||'%'
			ORDER BY USER_ID DESC 
		</if>
		<if test="searchCondition == 'userNickname'">
			WHERE USER_NICKNAME LIKE '%'||#{searchKeyword}||'%'
			ORDER BY USER_ID DESC 
		</if>
		<if test="searchCondition == 'userTel'">
			WHERE USER_TEL LIKE '%'||#{searchKeyword}||'%'
			ORDER BY USER_ID DESC 
		</if>
	</select>

	<!-- 회원정보 상세조회 -->
	<select id="selectUserByUserId" resultType="User">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId}
	</select>
	
	<!-- 회원강제 탈퇴 -->
	<update id="deleteUserByAdmin">
		UPDATE USER_TBL SET USER_STATUS = 'A', U_DELETE_DATE = SYSTIMESTAMP WHERE USER_ID = #{userId}
	</update>
	
	<!-- 강퇴회원 복원 -->
	<update id="reviveUserByAdmin">
		UPDATE USER_TBL SET USER_STATUS = 'Y' WHERE USER_ID = #{userId}
	</update>
	
	<!-- 회원별 총 지꾸수 (= 총게시물수) -->
	<select id="getUserJiqooListCount" resultType="_int">
		SELECT COUNT (*) FROM JIQOO_TBL WHERE JIQOO_WRITER = #{jiqooWriter}
	</select>

	<!-- 회원별 지꾸 리스트  -->
	<select id="showUserJiqooList" resultType="Jiqoo">
		SELECT * FROM JIQOO_TBL WHERE JIQOO_WRITER = #{jiqooWriter} ORDER BY JIQOO_NO DESC
	</select>
	
	<!-- 회원별 총 모꾸수 (= 총게시물수) -->
	<select id="getUserMoqooListCount" resultType="_int">
		SELECT COUNT (*) FROM MOQOO_TBL WHERE MOQOO_WRITER = #{moqooWriter}
	</select>

	<!-- 회원별 모꾸 리스트  -->
	<select id="showUserMoqooList" resultType="Moqoo">
		SELECT * FROM MOQOO_TBL WHERE MOQOO_WRITER = #{moqooWriter} ORDER BY MOQOO_NO DESC
	</select>
	
	<!-- 회원별 댓글 수  -->
	<select id="getusersTotalComtCount" resultType="_int">
		SELECT COUNT (*) FROM COMT_TBL WHERE COMT_WRITER = #{comtWriter}
	</select>
	
	<!-- 회원별 댓글 리스트  -->
	<select id="showUserComtList" resultType="Comment">
		SELECT * FROM COMT_TBL WHERE COMT_WRITER = #{comtWriter} ORDER BY COMT_NO DESC
	</select>
	
	
	
	<!-- 지꾸관리페이지 총 지꾸수 (= 총게시물수) -->
	<select id="getJiqooListCount" resultType="_int">
		SELECT COUNT (*) FROM JIQOO_TBL 
	</select>

	<!-- 총 지꾸 리스트 -->
	<select id="selectAllJiqoo" resultType="Jiqoo">
		SELECT * FROM JIQOO_TBL ORDER BY JIQOO_NO DESC
	</select>
	
	<!-- 지꾸검색 총 지꾸수 (= 총게시물수) -->
	<select id="getJiqooSearchListCount" resultType="_int">
		SELECT COUNT (*) FROM JIQOO_TBL
		<if test="searchCondition == 'jiqooWriter'"> 
			WHERE JIQOO_WRITER LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'jiqooTitle'">
			WHERE JIQOO_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'jiqooContent'">
			WHERE JIQOO_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'jiqooCtgr'">
			WHERE JIQOO_CTGR LIKE '%'||#{searchKeyword}||'%'
		</if> 
		<if test="searchCondition == 'jiqooW3W'">
			WHERE JIQOO_W3W LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'jiqooNo'">
			WHERE JIQOO_NO LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<!-- 지꾸검색 리스트  -->
	<select id="searchJiqooByKeyword" resultType="Jiqoo">
		SELECT * FROM JIQOO_TBL
		<if test="searchCondition == 'jiqooWriter'"> 
			WHERE JIQOO_WRITER LIKE '%'||#{searchKeyword}||'%' 
			ORDER BY JIQOO_NO DESC 
		</if>
		<if test="searchCondition == 'jiqooTitle'">
			WHERE JIQOO_TITLE LIKE '%'||#{searchKeyword}||'%'
			ORDER BY JIQOO_NO DESC 
		</if>
		<if test="searchCondition == 'jiqooContent'">
			WHERE JIQOO_CONTENT LIKE '%'||#{searchKeyword}||'%'
			ORDER BY JIQOO_NO DESC 
		</if>
		<if test="searchCondition == 'jiqooCtgr'">
			WHERE JIQOO_CTGR LIKE '%'||#{searchKeyword}||'%'
			ORDER BY JIQOO_NO DESC 
		</if>
		<if test="searchCondition == 'jiqooW3W'">
			WHERE JIQOO_W3W LIKE '%'||#{searchKeyword}||'%'
			ORDER BY JIQOO_NO DESC 
		</if>
		<if test="searchCondition == 'jiqooNo'">
			WHERE JIQOO_NO LIKE '%'||#{searchKeyword}||'%'
			ORDER BY JIQOO_NO DESC 
		</if>
	</select>
	
	<!-- 모꾸관리페이지 총 모꾸수 (= 총게시물수) -->
	<select id="getMoqooListCount" resultType="_int">
		SELECT COUNT (*) FROM MOQOO_TBL 
	</select>

	<!-- 모꾸관리페이지 총 모꾸 리스트 -->
	<select id="selectAllMoqoo" resultType="moqoo" resultMap="MoqooResultMap">
		SELECT * FROM MOQOO_TBL ORDER BY MOQOO_NO DESC
	</select>
	
	
	<!-- 모꾸검색 총 모꾸수 (= 총게시물수) -->
	<select id="getMoqooSearchListCount" resultType="_int">
		SELECT COUNT (*) FROM MOQOO_TBL
		<if test="searchCondition == 'moqooWriter'"> 
			WHERE MOQOO_WRITER LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'moqooTitle'">
			WHERE MOQOO_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'moqooContent'">
			WHERE MOQOO_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			WHERE MOQOO_TAGS LIKE '%'||#{searchKeyword}||'%'
		</if> 
		<if test="searchCondition == 'moqooW3W'">
			WHERE MOQOO_W3W LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'moqooNo'">
			WHERE MOQOO_NO LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<!-- 모꾸검색 리스트  -->
	<select id="searchMoqooByKeyword" resultType="Moqoo">
		SELECT * FROM MOQOO_TBL
		<if test="searchCondition == 'moqooWriter'"> 
			WHERE MOQOO_WRITER LIKE '%'||#{searchKeyword}||'%' 
			ORDER BY MOQOO_NO DESC 
		</if>
		<if test="searchCondition == 'moqooTitle'">
			WHERE MOQOO_TITLE LIKE '%'||#{searchKeyword}||'%'
			ORDER BY MOQOO_NO DESC 
		</if>
		<if test="searchCondition == 'moqooContent'">
			WHERE MOQOO_CONTENT LIKE '%'||#{searchKeyword}||'%'
			ORDER BY MOQOO_NO DESC 
		</if>
		<if test="searchCondition == 'category'">
			WHERE MOQOO_TAGS LIKE '%'||#{searchKeyword}||'%'
			ORDER BY MOQOO_NO DESC 
		</if>
		<if test="searchCondition == 'moqooW3W'">
			WHERE MOQOO_W3W LIKE '%'||#{searchKeyword}||'%'
			ORDER BY MOQOO_NO DESC 
		</if>
		<if test="searchCondition == 'moqooNo'">
			WHERE MOQOO_NO LIKE '%'||#{searchKeyword}||'%'
			ORDER BY MOQOO_NO DESC 
		</if>
	</select>
	
	
	<!-- 지꾸 강제삭제 -->
	<update id="deleteJiqooByAdmin">
		UPDATE JIQOO_TBL SET J_OPEN_STATUS = 'N', JIQOO_STATUS ='A'  WHERE JIQOO_NO = #{jiqooNo}
	</update>
	
	
	<!-- 모꾸 강제삭제 -->
	<update id="deleteMoqooByAdmin">
		UPDATE MOQOO_TBL SET MOQOO_STATUS ='A'  WHERE MOQOO_NO = #{moqooNo}
	</update>
	
	<!-- 회원상세_ 댓글 강제삭제 -->
	<update id="deleteComtByAdmin">
		UPDATE COMT_TBL SET COMT_STATUS ='A'  WHERE COMT_NO = #{comtNo} 
	</update>
	
	
<!-- 	<select id="selectOneJiqoo" resultType="Jiqoo"> -->
<!-- 		SELECT * FROM JIQOO_TBL WHERE JIQOO_NO = #{jiqooNo} -->
<!-- 	</select> -->
	
<!-- 	<select id="selectOneUser" resultType="User"> -->
<!-- 		SELECT * FROM USER_TBL WHERE USER_ID = #{userId} -->
<!-- 	</select> -->
	
	<!--===== 지꾸 증감 카드 =====-->
	<!-- 당일 등록된 지꾸 수  -->
	<select id="todayInsertJiqooCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM JIQOO_TBL
		WHERE TRUNC(J_CREATE_DATE) = TRUNC(SYSDATE)
	</select>
	
	<!-- 전일 등록된 지꾸 수  -->
	<select id="yesterdayInsertJiqooCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM JIQOO_TBL
		WHERE TRUNC(J_CREATE_DATE) = TRUNC(SYSDATE-1)
	</select>
	
	<!--===== 모꾸증감카드 =====-->
	<!-- 당일 등록된 모꾸 수  -->
	<select id="todayInsertMoqooCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM MOQOO_TBL
		WHERE TRUNC(MOQOO_DATE) = TRUNC(SYSDATE)
	</select>
	
	<!-- 전일 등록된 모꾸 수  -->
	<select id="yesterdayInsertMoqooCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM MOQOO_TBL
		WHERE TRUNC(MOQOO_DATE) = TRUNC(SYSDATE-1)
	</select>
	
	<!--===== 회원증감카드 =====-->
	<!-- 당일 가입한 회원 수  -->
	<select id="todayJoinUserCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM USER_TBL
		WHERE TRUNC(U_CREATE_DATE) = TRUNC(SYSDATE)
	</select>
	
	<!-- 전일 가입한 회원 수  -->
	<select id="yesterdayJoinUserCount" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM USER_TBL
		WHERE TRUNC(U_CREATE_DATE) = TRUNC(SYSDATE-1)
	</select>
	
	
	<!--===== 지꾸모꾸비 차트 =====-->
	<!-- 유지중인 지꾸 총 개수  -->
	<select id="usingJiqooCount" resultType="_int">
		SELECT COUNT (*) FROM JIQOO_TBL 
		WHERE JIQOO_STATUS = 'Y' AND J_CREATE_DATE >= '2023-10-06 00:00:00'
	</select>
	
	<!-- 유지중인 모꾸 총 개수  -->
	<select id="usingMoqooCount" resultType="_int">
		SELECT COUNT (*) FROM MOQOO_TBL 
		WHERE MOQOO_STATUS = 'Y' AND MOQOO_DATE >= '2023-10-06 00:00:00'
	</select>
	
	
	<!--===== 성비차트 =====-->
	<!-- 현재 가입유지중인 회원 성비  -->
	<select id="userGenderList" resultType="User">
		SELECT USER_GENDER, COUNT(*) AS COUNT 
		FROM (SELECT * FROM USER_TBL 
      			WHERE U_CREATE_DATE >= '2023-10-06 00:00:00' AND ADMIN_YN = 'N' AND USER_STATUS = 'Y')
    	GROUP BY USER_GENDER ORDER BY COUNT DESC
	</select>


	<!-- 당일 가입한 회원 리스트  -->
	<select id="todayUserList" resultType="User">
		SELECT * FROM USER_TBL
		WHERE TRUNC(U_CREATE_DATE) = TRUNC(SYSDATE)
		ORDER BY U_CREATE_DATE DESC
	</select>
	
	<!-- 당일 등록된 지꾸 리스트  -->
	<select id="todayJiqooList" resultType="Jiqoo">
		SELECT * FROM JIQOO_TBL
		WHERE TRUNC(J_CREATE_DATE) = TRUNC(SYSDATE)
		ORDER BY JIQOO_NO DESC
	</select>
	
	<!-- 당일 등록된 모꾸 리스트  -->
	<select id="todayMoqooList" resultType="Moqoo">
		SELECT * FROM MOQOO_TBL
		WHERE TRUNC(MOQOO_DATE) = TRUNC(SYSDATE)
		ORDER BY MOQOO_NO DESC
	</select>
	
	<!-- 당일 등록된 댓글 리스트  -->
	<select id="todayComtList" resultType="Comment">
		SELECT * FROM COMT_TBL
		WHERE TRUNC(COMT_DATE) = TRUNC(SYSDATE)
		ORDER BY COMT_NO DESC
	</select>
	
	
	<!-- 현재 가입중인 회원 나이대 비율  -->
	<select id="userAgeList" resultType="User">
		SELECT
		  CASE
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 0 AND 19 THEN '0-9'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 0 AND 19 THEN '10-19'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 20 AND 29 THEN '20-29'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 30 AND 39 THEN '30-39'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) > 40 THEN '40+'
		  END AS age_group,
		  EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) AS age,
		  COUNT(*) AS COUNT
		FROM USER_TBL
		WHERE USER_STATUS = 'Y'
		GROUP BY
		  CASE
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 0 AND 19 THEN '0-9'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 0 AND 19 THEN '10-19'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 20 AND 29 THEN '20-29'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) BETWEEN 30 AND 39 THEN '30-39'
		    WHEN EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH) > 40 THEN '40+'
		  END,
		  EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM USER_BIRTH)
		ORDER BY age_group
	</select>
	
		
	<!-- 채팅방관리_ 총 채팅방 수 (= 총게시물수) -->
	<select id="getChatRoomListCount" resultType="_int">
		SELECT COUNT (*) FROM CHAT_ROOM_TBL 
	</select>
	
	<!-- 채팅방관리_ 총 채팅방 리스트 -->
	<select id="selectAllChatRoom" resultType="ChatRoom">
		SELECT * FROM CHAT_ROOM_TBL 
<!-- 		JOIN CHAT_USER_TBL ON CHAT_NO = REF_CHAT_NO -->
		ORDER BY C_CREATE_DATE DESC
	</select>
	
	
	<!-- 회원 날짜별 가입수 리스트  -->
<!-- 	<select id="userCountList" resultType="map"> -->
<!-- 		SELECT COUNT(*)AS COUNT ,TO_CHAR(U_CREATE_DATE,'DD') AS U_CREATE_DATE -->
<!-- 		FROM USER_TBL -->
<!-- 		WHERE U_CREATE_DATE  -->
<!-- 		BETWEEN '2023-10-06' AND SYSDATE -->
<!-- 		GROUP BY TO_CHAR(U_CREATE_DATE,'DD') -->
<!-- 		ORDER BY U_CREATE_DATE -->
<!-- 	</select> -->
	
	<select id="dayCountList" resultType="map" parameterType="Map">	
		WITH DateRange AS (
		  SELECT TO_DATE('2023-10-10', 'YYYY-MM-DD') + LEVEL - 1 AS FullDate
		  FROM DUAL
		  CONNECT BY LEVEL &lt;= (SYSDATE - TO_DATE('2023-10-10', 'YYYY-MM-DD') + 1)
		)
		, JiqooCounts AS (
		  SELECT TO_CHAR(DateRange.FullDate, 'DD') AS TheDate,
		         COALESCE(COUNT(JT.J_CREATE_DATE), 0) AS JiqooCount
		  FROM DateRange
		  LEFT JOIN JIQOO_TBL JT ON DateRange.FullDate = TRUNC(JT.J_CREATE_DATE)
		  GROUP BY TO_CHAR(DateRange.FullDate, 'DD')
		)
		, UserCounts AS (
		  SELECT TO_CHAR(DateRange.FullDate, 'DD') AS TheDate,
		         COALESCE(COUNT(UT.U_CREATE_DATE), 0) AS UserCount
		  FROM DateRange
		  LEFT JOIN USER_TBL UT ON DateRange.FullDate = TRUNC(UT.U_CREATE_DATE)
		  GROUP BY TO_CHAR(DateRange.FullDate, 'DD')
		)
		, MoqooCounts AS (
		  SELECT TO_CHAR(DateRange.FullDate, 'DD') AS TheDate,
		         COALESCE(COUNT(MT.MOQOO_DATE), 0) AS MoqooCount
		  FROM DateRange
		  LEFT JOIN MOQOO_TBL MT ON DateRange.FullDate = TRUNC(MT.MOQOO_DATE)
		  GROUP BY TO_CHAR(DateRange.FullDate, 'DD')
		)
		SELECT JiqooCounts.TheDate AS TheDate,
		       JiqooCounts.JiqooCount AS JiqooCount,
		       MoqooCounts.MoqooCount AS MoqooCount,
		       UserCounts.UserCount AS UserCount
		FROM JiqooCounts
		JOIN MoqooCounts ON JiqooCounts.TheDate = MoqooCounts.TheDate
		JOIN UserCounts ON JiqooCounts.TheDate = UserCounts.TheDate
		ORDER BY JiqooCounts.TheDate
	</select>

	
</mapper>
