<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="AlertMapper">
	<resultMap type="Alert" id="AlertResultMap">
		<id property="alertNo"         		column="ALERT_NO"/>
		<result property="toUserId"     	column="TO_USER_ID"/> <!-- 받은사람 -->
		<result property="fromUserId"   	column="FROM_USER_ID"/> <!-- 보낸사람 -->
		<result property="boardNo"    		column="BOARD_NO"/>
		<result property="comtNo"    		column="COMT_NO"/>
		<result property="title" 			column="TITLE"/>
		<result property="alertType"  		column="ALERT_TYPE"/>
		<result property="alertCreateDate"  column="ALERT_CREATE_DATE"/>
	</resultMap>

	<!-- 알람등록 -->
	<insert id="insertAlarm">
		INSERT INTO ALERT_TBL VALUES (SEQ_ALERT_NO.NEXTVAL,#{toUserId},#{fromUserId},#{boardNo},#{comtNo},#{title},#{alertType},DEFAULT)
	</insert>

	<!-- 알람수 -->
	<select id="selectAlarmCount" resultType="int">
		SELECT COUNT (*) FROM ALERT_TBL WHERE TO_USER_ID = #{toUserId}
	</select>
	
	<!-- 알람리스트 -->
	<select id="selectAlarmList"  resultType="Alert">
		SELECT * FROM 
		(SELECT * FROM ALERT_TBL WHERE TO_USER_ID = #{toUserId} ORDER BY ALERT_CREATE_DATE DESC ) 
		WHERE rowNUM &lt;=6 
	</select>
	
	<!-- 알람리스트 삭제 -->
	<delete id="deleteAlarm" >
		DELETE FROM ALERT_TBL WHERE FROM_USER_ID = #{fromUserId} AND BOARD_NO = #{boardNo}
	</delete>



</mapper>
	