<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FollowMapper">
	<select id="selectFollowersCount" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW_TBL
		WHERE TO_USER_ID = #{userId}
	</select>
	
	<select id="selectFollowingCount" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW_TBL
		WHERE FROM_USER_ID = #{userId}
	</select>
	
	<select id="selectFollowStatus" resultType="_int">
		SELECT COUNT(*)
  		FROM FOLLOW_TBL
  		WHERE FROM_USER_ID = #{fromUserId} AND TO_USER_ID = #{toUserId}
	</select>
</mapper>