<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MoqooMapper">
	<resultMap type="Moqoo" id="MoqooResultMap">
		<id property="moqooNo" column="MOQOO_NO"/>
		<result property="moqooW3W" column="MOQOO_W3W"/>
		<result property="moqooDay" column="MOQOO_DAY"/>
		<result property="category" column="MOQOO_TAGS"/>
		<result property="moqooTitle" column="MOQOO_TITLE"/>
		<result property="moqooThumName" column="MOQOO_THUM_NAME"/>
		<result property="moqooThumRename" column="MOQOO_THUM_RENAME"/>
		<result property="moqooThumPath" column="MOQOO_THUM_PATH"/>
		<result property="moqooContent" column="MOQOO_CONTENT"/>
		<result property="moqooJoin" column="MOQOO_JOIN"/>
		<result property="moqooWriter" column="MOQOO_WRITER"/>
		<result property="moqooDate" column="MOQOO_DATE"/>
		<result property="mUpdateDate" column="M_UPDATE_DATE"/>
		<result property="mViewCount" column="M_VIEW_COUNT"/>
		<result property="moqooLat" column="MOQOO_LAT"/>
		<result property="moqooLng" column="MOQOO_LNG"/>
		<result property="moqooStatus" column="MOQOO_STATUS"/>
		<collection property="user" resultMap="UserResultMap"></collection>
		<collection property="moqooUser" resultMap="MoqooUserResultMap"></collection>
	</resultMap>
	
	<resultMap type="User" id="UserResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="platformType" column="PLATFORM_TYPE"/>
		<result property="userGender" column="USER_GENDER"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userTel" column="USER_TEL"/>
		<result property="userInfo" column="USER_INFO"/>
		<result property="userPhotoName" column="USER_PHOTO_NAME"/>
		<result property="userPhotoRename" column="USER_PHOTO_RENAME"/>
		<result property="userPhotoPath" column="USER_PHOTO_PATH"/>
		<result property="uCreateDate" column="U_CREATE_DATE"/>
		<result property="uDeleteDate" column="U_DELETE_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="adminYn" column="ADMIN_YN"/>
	</resultMap>
	
	<resultMap type="MoqooUser" id="MoqooUserResultMap">
		<id property="refMoqooNo" column="REF_MOQOO_NO"/>
		<id property="refUserId" column="REF_USER_ID"/>
		<result property="attendStatus" column="ATTEND_STATUS"/>
	</resultMap>
	
	
	<!-- view count 일단 default로 둠 -->
	<insert id="insertMoqoo">
		<selectKey keyProperty="moqooNo" resultType="int" order="BEFORE">
			SELECT SEQ_MOQOO_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MOQOO_TBL VALUES(#{moqooNo }, #{moqooW3W }, #{moqooDay }, #{category }, #{moqooTitle }, #{moqooThumName }, #{moqooThumRename }, #{moqooThumPath }, #{moqooContent }, #{moqooJoin }, #{moqooWriter }, DEFAULT, DEFAULT, DEFAULT, #{moqooLat }, #{moqooLng }, DEFAULT )
	</insert>
	
	<update id="updateMoqoo">
		UPDATE MOQOO_TBL SET MOQOO_W3W = #{moqooW3W }, MOQOO_DAY = #{moqooDay }, MOQOO_TAGS = #{category }, MOQOO_TITLE = #{moqooTitle }, MOQOO_THUM_NAME = #{moqooThumName }, MOQOO_THUM_RENAME = #{moqooThumRename }, MOQOO_THUM_PATH = #{moqooThumPath }, MOQOO_CONTENT = #{moqooContent }, MOQOO_JOIN = #{moqooJoin }, M_UPDATE_DATE = DEFAULT, M_VIEW_COUNT = DEFAULT, MOQOO_LAT = #{moqooLat }, MOQOO_LNG = #{moqooLng }, MOQOO_STATUS = DEFAULT WHERE MOQOO_NO = #{moqooNo}
	</update>
	
	<update id="deleteMoqoo">
		UPDATE MOQOO_TBL SET MOQOO_STATUS = 'N' WHERE MOQOO_NO = #{moqooNo } 
	</update>

	<select id="showSelectMoqooList" resultMap="MoqooResultMap">
<!-- 		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = #{moqooWriter } WHERE MOQOO_STATUS = 'Y' -->
		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = USER_ID WHERE MOQOO_STATUS = 'Y' ORDER BY MOQOO_NO DESC
	</select>
	
	<select id="selectOneByNo" resultMap="MoqooResultMap">
		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = USER_ID LEFT JOIN MOQOO_USER_TBL ON MOQOO_NO = REF_MOQOO_NO WHERE MOQOO_NO = #{moqooNo} AND MOQOO_STATUS = 'Y'
	</select>

	<select id="selectCategoryList" resultType="Category">
		SELECT * FROM CATEGORY_TBL
	</select>
	
	<select id="selectCategoryByNo" resultType="Category">
		SELECT * FROM CATEGORY_TBL WHERE C_NAME = #{moqooCName }
	</select>
	
	<select id="selectLikeCountByNo" resultType="_int">
		SELECT COUNT(*) FROM LIKE_TBL WHERE REF_POST_NO = #{moqooNo } AND REF_BOARD_TYPE = 'M'
	</select>
	
	<select id="selectOneByMoqooJoin" resultType="_int">
		SELECT MOQOO_JOIN FROM MOQOO_TBL WHERE MOQOO_NO = #{moqooNo }
	</select>
	
	<insert id="clickHeart">
		INSERT INTO LIKE_TBL VALUES(#{refPostNo },#{refBoardType }, #{lUserId }) 
	</insert>
	
	<select id="moqooLikeCount" resultType="_int">
		SELECT COUNT(*) FROM LIKE_TBL WHERE REF_POST_NO = #{refPostNo }
	</select>
	
	<select id="selectLikeOne" resultType="Like">
		SELECT * FROM LIKE_TBL WHERE REF_POST_NO = #{refPostNo } AND REF_BOARD_TYPE = #{refBoardType } AND L_USER_ID = #{lUserId }
	</select>
	
	<delete id="deleteHeart">
		DELETE LIKE_TBL WHERE REF_POST_NO = #{refPostNo } and REF_BOARD_TYPE = #{refBoardType } and L_USER_ID = #{lUserId };
	</delete>
</mapper>