<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MoqooUserMapper">

	<insert id="insertMoqooPost">
		insert into moqoo_User_tbl values(#{refMoqooNo }, #{refUserId })
	</insert>
</mapper>