<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MoqooMapper">
	<resultMap type="Moqoo" id="MoqooResultMap">
		<id property="moqooNo" column="MOQOO_NO"/>
		<result property="moqooW3W" column="MOQOO_W3W"/>
		<result property="moqooDay" column="MOQOO_DAY"/>
		<result property="category" column="MOQOO_TAGS"/>
		<result property="moqooTitle" column="MOQOO_TITLE"/>
		<result property="moqooThumName" column="MOQOO_THUM_NAME"/>
		<result property="moqooThumRename" column="MOQOO_THUM_RENAME"/>
		<result property="moqooThumPath" column="MOQOO_THUM_PATH"/>
		<result property="moqooContent" column="MOQOO_CONTENT"/>
		<result property="moqooJoin" column="MOQOO_JOIN"/>
		<result property="moqooWriter" column="MOQOO_WRITER"/>
		<result property="moqooDate" column="MOQOO_DATE"/>
		<result property="mUpdateDate" column="M_UPDATE_DATE"/>
		<result property="mViewCount" column="M_VIEW_COUNT"/>
		<result property="moqooLat" column="MOQOO_LAT"/>
		<result property="moqooLng" column="MOQOO_LNG"/>
		<result property="moqooStatus" column="MOQOO_STATUS"/>
		<result property="cName" column="C_NAME"/>
		<collection property="user" resultMap="UserResultMap"></collection>
	</resultMap>
	
	<resultMap type="User" id="UserResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="platformType" column="PLATFORM_TYPE"/>
		<result property="userGender" column="USER_GENDER"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userTel" column="USER_TEL"/>
		<result property="userInfo" column="USER_INFO"/>
		<result property="userPhotoName" column="USER_PHOTO_NAME"/>
		<result property="userPhotoRename" column="USER_PHOTO_RENAME"/>
		<result property="userPhotoPath" column="USER_PHOTO_PATH"/>
		<result property="uCreateDate" column="U_CREATE_DATE"/>
		<result property="uDeleteDate" column="U_DELETE_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="adminYn" column="ADMIN_YN"/>
	</resultMap>
	
	
	<!-- view count 일단 default로 둠 -->
	<insert id="insertMoqoo">
		INSERT INTO MOQOO_TBL VALUES(SEQ_MOQOO_NO.NEXTVAL, #{category }, #{moqooW3W }, #{moqooTitle }, #{moqooContent }, #{moqooWriter }, #{moqooDay }, #{moqooJoin }, DEFAULT, DEFAULT, #{moqooThumName }, #{moqooThumRename }, #{moqooThumPath }, DEFAULT, #{moqooLat }, #{moqooLng }, DEFAULT, #{cName } )
	</insert>
	
	<select id="showSelectMoqooList" resultMap="MoqooResultMap">
<!-- 		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = #{moqooWriter } WHERE MOQOO_STATUS = 'Y' -->
		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = USER_ID WHERE MOQOO_STATUS = 'Y'
	</select>
	
	<select id="selectMoqooByNo" resultMap="MoqooResultMap">
		SELECT * FROM MOQOO_TBL JOIN USER_TBL ON MOQOO_WRITER = USER_ID WHERE MOQOO_NO = #{moqooNo} AND MOQOO_STATUS = 'Y'
	</select>
</mapper>