<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'normal', #{userGender}, #{userBirth}, #{userTel}, #{userInfo}, #{userPhotoName}, #{userPhotoRename}, #{userPhotoPath}, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
	
	<insert id="kakaoUserInsert">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'kakao', #{userGender}, NULL, NULL, NULL, NULL, NULL, NULL, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
	
	<update id="updateUser">
		UPDATE USER_TBL
		SET USER_NICKNAME = #{userNickname}, USER_EMAIL = #{userEmail}, USER_GENDER = #{userGender}, USER_BIRTH = #{userBirth}, USER_TEL = #{userTel}, USER_PHOTO_NAME = #{userPhotoName}, USER_PHOTO_RENAME = #{userPhotoRename}, USER_PHOTO_PATH = #{userPhotoPath}, USER_INFO = #{userInfo}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateUserPw">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="deleteUser">
		UPDATE USER_TBL
		SET USER_STATUS = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="selectCheckLogin" resultType="User" >
		SELECT * 
		FROM USER_TBL 
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw} AND USER_STATUS='Y'
	</select>
	
	<select id="selectKakaoUser" resultType="User">
		SELECT *
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectCheckId" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_NICKNAME = #{userNickname}
	</select>
	
	<select id="selectCheckEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectFindId" resultType="User">
		SELECT USER_ID, USER_NAME, USER_EMAIL
		FROM USER_TBL
		WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectFindPw" resultType="User">
		SELECT USER_ID, USER_NAME, USER_EMAIL
		FROM USER_TBL
		WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectUserOneById" resultType="User">
		SELECT *
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectFollowersListById" resultType="User">
		SELECT * FROM USER_TBL
		WHERE USER_ID IN (SELECT FROM_USER_ID FROM FOLLOW_TBL WHERE TO_USER_ID = #{userId})
	</select>
	
	<select id="selectFollowingsListById" resultType="User">
		SELECT * FROM USER_TBL
		WHERE USER_ID IN (SELECT TO_USER_ID FROM FOLLOW_TBL WHERE FROM_USER_ID = #{userId})
	</select>
</mapper>