<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<resultMap type="User" id="UserResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="platformType" column="PLATFORM_TYPE"/>
		<result property="userGender" column="USER_GENDER"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userTel" column="USER_TEL"/>
		<result property="userInfo" column="USER_INFO"/>
		<result property="userPhotoName" column="USER_PHOTO_NAME"/>
		<result property="userPhotoRename" column="USER_PHOTO_RENAME"/>
		<result property="userPhotoPath" column="USER_PHOTO_PATH"/>
		<result property="uCreateDate" column="U_CREATE_DATE"/>
		<result property="uDeleteDate" column="U_DELETE_DATE"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="adminYn" column="ADMIN_YN"/>
	</resultMap>
	
	<resultMap type="UserComment" id="UserCommentResultMap">
		<id property="comtNo" column="COMT_NO"/>
		<result property="comtContent" column="COMT_CONTENT"/>
		<result property="comtWriter" column="COMT_WRITER"/>
		<result property="comtDate" column="COMT_DATE"/>
		<result property="cUpdateDate" column="C_UPDATE_DATE"/>
		<result property="refPostNo" column="REF_POST_NO"/>
		<result property="pComtNo" column="P_COMT_NO"/>
		<result property="comtStatus" column="COMT_STATUS"/>
		<result property="cBoardType" column="C_BOARD_TYPE"/>
		<result property="postTitle" column="POST_TITLE"/>
		<collection property="user" resultMap="UserResultMap"/>
	</resultMap>
	
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'normal', #{userGender}, #{userBirth}, #{userTel}, #{userInfo}, #{userPhotoName}, #{userPhotoRename}, #{userPhotoPath}, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
	
	<insert id="kakaoUserInsert">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'kakao', #{userGender}, NULL, NULL, NULL, NULL, NULL, NULL, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
	
	<insert id="naverUserInsert">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'naver', #{userGender}, NULL, NULL, NULL, NULL, NULL, NULL, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
	
	<update id="updateUser">
		UPDATE USER_TBL
		SET USER_NICKNAME = #{userNickname}, USER_EMAIL = #{userEmail}, USER_GENDER = #{userGender}, USER_BIRTH = #{userBirth}, USER_TEL = #{userTel}, USER_PHOTO_NAME = #{userPhotoName}, USER_PHOTO_RENAME = #{userPhotoRename}, USER_PHOTO_PATH = #{userPhotoPath}, USER_INFO = #{userInfo}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateSnsUser">
		UPDATE USER_TBL
		SET USER_NAME = #{userName}, USER_NICKNAME = #{userNickname}, USER_GENDER = #{userGender}, USER_BIRTH = #{userBirth}, USER_TEL = #{userTel}, USER_PHOTO_NAME = #{userPhotoName}, USER_PHOTO_RENAME = #{userPhotoRename}, USER_PHOTO_PATH = #{userPhotoPath}, USER_INFO = #{userInfo}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateUserPw">
		UPDATE USER_TBL
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="deleteUser">
		UPDATE USER_TBL
		SET USER_STATUS = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<delete id="deleteSnsUser">
		DELETE USER_TBL
		WHERE USER_ID = #{userId} and PLATFORM_TYPE = #{platformType}
	</delete>
	
	<select id="selectCheckLogin" resultType="User" >
		SELECT * 
		FROM USER_TBL 
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw} AND USER_STATUS='Y'
	</select>
	
	<select id="selectSnsUserByEmail" resultType="User">
		SELECT *
		FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail} AND PLATFORM_TYPE = #{platformType}
	</select>
	
	<select id="selectCheckId" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_NICKNAME = #{userNickname}
	</select>
	
	<select id="selectCheckEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectFindId" resultType="User">
		SELECT USER_ID, USER_NAME, USER_EMAIL
		FROM USER_TBL
		WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectFindPw" resultType="User">
		SELECT USER_ID, USER_NAME, USER_EMAIL
		FROM USER_TBL
		WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="selectUserOneById" resultType="User">
		SELECT *
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectFollowersListById" resultType="User">
		SELECT * FROM USER_TBL
		WHERE USER_ID IN (SELECT FROM_USER_ID FROM FOLLOW_TBL WHERE TO_USER_ID = #{userId})
	</select>
	
	<select id="selectFollowingsListById" resultType="User">
		SELECT * FROM USER_TBL
		WHERE USER_ID IN (SELECT TO_USER_ID FROM FOLLOW_TBL WHERE FROM_USER_ID = #{userId})
	</select>
	
	<select id="selectMyJiqooCount" resultType="_int">
		SELECT COUNT(*)
		FROM JIQOO_TBL WHERE JIQOO_WRITER = #{userId} AND JIQOO_STATUS NOT LIKE 'N'
	</select>
	
	<select id="selectMyMoqooCount" resultType="_int">
		SELECT COUNT(*)
		FROM MOQOO_TBL WHERE MOQOO_WRITER = #{userId} AND MOQOO_STATUS NOT LIKE 'N'
	</select>
	
	<select id="selectMyCommentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMT_TBL WHERE COMT_WRITER = #{userId} AND COMT_STATUS NOT LIKE 'N'
	</select>
<!-- 
	<select id="selectMyCommentList" resultType="Comment">
		SELECT *
		FROM COMT_TBL WHERE COMT_WRITER = #{userId} AND COMT_STATUS NOT LIKE 'N'
	</select>
 -->
 	<select id="selectMyCommentList" resultMap="UserCommentResultMap">
		SELECT C.COMT_NO, C.COMT_CONTENT, C.COMT_WRITER, C.COMT_DATE, C.REF_POST_NO, C.COMT_STATUS, C.C_BOARD_TYPE, 
		       CASE 
		           WHEN C.C_BOARD_TYPE = 'J' THEN J.JIQOO_TITLE
		           WHEN C.C_BOARD_TYPE = 'M' THEN M.MOQOO_TITLE
		           ELSE NULL
		       END AS POST_TITLE,
		       U.USER_PHOTO_PATH
		FROM COMT_TBL C
		LEFT JOIN JIQOO_TBL J ON C.C_BOARD_TYPE = 'J' AND C.REF_POST_NO = J.JIQOO_NO
		LEFT JOIN MOQOO_TBL M ON C.C_BOARD_TYPE = 'M' AND C.REF_POST_NO = M.MOQOO_NO
		LEFT JOIN USER_TBL U ON C.COMT_WRITER = U.USER_ID
		WHERE C.COMT_WRITER = #{userId} AND C.COMT_STATUS NOT LIKE 'N' AND (J.JIQOO_STATUS NOT LIKE 'N' OR M.MOQOO_STATUS NOT LIKE 'N')
	</select>
	
</mapper>