<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<select id="selectCheckLogin" resultType="User" >
		SELECT * 
		FROM USER_TBL 
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>

	<select id="selectCheckId" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_NICKNAME = #{userNickname}
	</select>
	
	<select id="selectCheckEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<insert id="insertUser">
		INSERT INTO USER_TBL
		VALUES (#{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, 'normal', #{userGender}, #{userBirth}, #{userTel}, #{userInfo}, #{userPhotoName}, #{userPhotoRename}, #{userPhotoPath}, DEFAULT, NULL, DEFAULT, DEFAULT) 
	</insert>
</mapper>